/*******************************************************************************
*
*   YouTestit source code:
*   ======================
*   Licensed to the Apache Software Foundation (ASF) under one or more
*   contributor license agreements.  See the NOTICE file distributed with
*   this work for additional information regarding copyright ownership.
*   The ASF licenses this file to You under the Apache License, Version 2.0
*   (the "License"); you may not use this file except in compliance with
*   the License.  You may obtain a copy of the License at
*  
*       http://www.apache.org/licenses/LICENSE-2.0
* 
*   Unless required by applicable law or agreed to in writing, software
*   distributed under the License is distributed on an "AS IS" BASIS,
*   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*   See the License for the specific language governing permissions and
*   limitations under the License.
*
*   Links:
*   ======
*   Homepage : http://www.youtestit.org
*   Git      : https://github.com/youtestit
*
*******************************************************************************/
@IMPORT url("#{resource['stylesheet/default/overrides.css']}");

/*******************************************************************************
* GENERIC 
*******************************************************************************/
body{
	padding: 0;
	margin: 0;
	background-color: #EDEDED;
}
#mainSection{
	margin-top: -8px;
}
#page{
	background-color: #ffffff;
}
.clear{
	clear: both;
	height: 0px;
}

.left{
	float: left;
}
.right{
	float: right;
}

header, section, menu, article{
	width: 100%;
	display: block;
}

input{
	border-radius: 6px;
	padding-left: 3px;
	background-image: url(#{resource['stylesheet/default/imgs/input.png']});
	background-repeat:  repeat-x;
	border-bottom: 0px;
	border-right: 0px;
}
input:FOCUS,input[type="text"]:FOCUS,input[type="password"]:FOCUS,select:FOCUS,
input.rf-insp-inp[type="text"]:FOCUS{
	background-image: url(#{resource['stylesheet/default/imgs/input-focus.png']});
	border-width: 2px;
	border-color: #9daec6;
	border-style: solid;
	border-bottom: 0px;
	border-right: 0px;
}

textarea, input[type="text"], input[type="password"], select,
input.rf-insp-inp[type="text"]{
	border-radius: 6px;
	padding-left: 3px;
	border-right:none !important;
	border-bottom:none !important;
	background-position:0px 0px;
	background-image: url(#{resource['stylesheet/default/imgs/input.png']});
	background-repeat:  repeat-x;
	border-bottom: 0px;
	border-right: 0px;
	border-color: cbcbcb;
    border-style: solid;
    border-width: 2px;
}

a, button, input{
	outline: none !important;
	outline-width: 0 !important;	
}
button, input[type="reset"], input[type="submit"], input[type="button"],
button:HOVER, input[type="reset"]:HOVER, input[type="submit"]:HOVER, input[type="button"]:HOVER {
	border: none;
}
/*******************************************************************************
* FONT AND COLORS 
*******************************************************************************/
body{
	font-size: 12px;
	color: #313131;
}

h1 {
	font-size: 200%;
	color:#003448;
}

h2 {
	font-size: 160%;
	color:#6F990D;
}
h3 {
	font-size: 145%;
	text-decoration: underline;
}
h4 {font-size: 130%;}
h5 {font-size: 115%;}
h6 {font-size: 100%;}


a{
	color: #313131;
	font-style: italic;
	font-weight: bold; 
	outline: none;
}
a:HOVER{
	color: #313131;
	font-style: italic;
	font-weight: bold; 
	outline: none !important;
} 
a{text-decoration: none;}
a:HOVER{text-decoration: underline;}

#pageContent{
	padding: 12px;	
}

/*******************************************************************************
* HEADER 
*******************************************************************************/
header section{
	background: url(#{resource['stylesheet/default/imgs/backgroundTop.gif']}) repeat-x;
	height: 81px;
}

#logo{
	background: url(#{resource['stylesheet/default/imgs/logo.png']}) no-repeat;
    float: left;
    height: 60px;
    width: 210px;
    margin: 8px;
}
#logo span{
	display: none;
}

#identity{
	float: right;
    margin-right: 50px;
    margin-top: 14px;
    margin-bottom: 5px;
}
#search{
	float: right;
	clear: right;
	margin-right: 16px;
}


header menu{
	background: url(#{resource['stylesheet/default/imgs/backgroundMenu.gif']}) repeat-x;
	background-position: bottom;
	background-color: #00567a;
	margin: 0;
	padding-top: 9px;
	padding-left: 0;
	height: 64px;
}

header menu ul{
	list-style: none;
	margin: 0;
    padding: 0;
}
header menu li{
	float: left;
	margin-left: 16px;
}

header menu li a, header menu li a:HOVER{
	display: block;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	text-decoration: none; 
}
.menuSeparator{
	background-color: #3A3A3A;
    height: 53px;
    width: 1px;
}


/*******************************************************************************
* FOOTER 
*******************************************************************************/
footer {
    background: url(#{resource['stylesheet/default/imgs/backgroundFooter.gif']}) repeat-x scroll 0 0 #ededed;
    min-height: 70px;
    padding: 70px 0 0;
}

footer article{
	border:1px solid #ededed;
	text-align: center;
	margin-top: 12px;
}

footer hr{
	width: 60%;
}
/*******************************************************************************
* ICONS
*******************************************************************************/
.menuIcon{
	display: block;
	padding-top: 35px;
	min-width: 36px;
	text-align: center;
	color: #ffffff !important;
	background-position: center top;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	text-decoration: none;
}

.menuRightIcon{
	float: right;
	margin-right: 22px;
}

.iconHome{
	background-image: url(#{resource['stylesheet/default/imgs/icons/home-off.png']});
}
.iconHome:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/home.png']});
}


.iconCreateProject{
	background-image: url(#{resource['stylesheet/default/imgs/icons/createProject-off.png']});
}
.iconCreateProject:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/createProject.png']});
}


.iconCreateTest{
	background-image: url(#{resource['stylesheet/default/imgs/icons/createTest-off.png']});
}
.iconCreateTest:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/createTest.png']});
}


.iconConfigure{
	background-image: url(#{resource['stylesheet/default/imgs/icons/config-off.png']});
}
.iconConfigure:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/config.png']});
}

.iconRun{
	background-image: url(#{resource['stylesheet/default/imgs/icons/run-off.png']});
}
.iconRun:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/run.png']});
}


.iconDelete{
	background-image: url(#{resource['stylesheet/default/imgs/icons/delete-off.png']});
}
.iconDelete:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/delete.png']});
}



.iconAdminConfig{
	background-image: url(#{resource['stylesheet/default/imgs/icons/config-off.png']});
}
.iconAdminConfig:HOVER{
	background-image: url(#{resource['stylesheet/default/imgs/icons/config.png']});
}



.login{
	background: url(#{resource['stylesheet/default/imgs/icons/log-in.png']}) no-repeat;
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	margin-right: 5px;
}
.login span{
	display: none;
}

#search input{
	float: left;
}
.searchButton{
	background: url(#{resource['stylesheet/default/imgs/icons/search.png']}) no-repeat;
	float: left;
	display: block;
	height: 24px;
	width: 24px;
	margin-right: 5px;
}
.searchButton span{
	display: none;
}

/*******************************************************************************
* JSF DEV MESSAGES
*******************************************************************************/
#javax_faces_developmentstage_messages{
	display:none;
}
	

/*******************************************************************************
*				CSS FOR RICHFACES AND PRIMEFACES OVERRIDES
*******************************************************************************/

input, select, textarea, button, keygen, isindex, legend, a{
	font-size: 12px;
}

/** primefaces and richfaces panel */
.ui-panel, .rf-p, .rf-tbp{
	margin-top: 12px !important;
	border-radius: 6px 6px 6px 6px;
}


.rf-p-hdr, .ui-widget-header{
	color: #ffffff !important;
	font-size: 14px;
	background: url(#{resource['stylesheet/default/imgs/panelHeader.gif']})repeat-x !important;
	background-position: center bottom !important;
	border-radius: 6px 6px 0px 0px;
	padding: 2px;
}

.rf-tab-cnt ,
.rf-p-b,
.ui-panel-content{
	font-size: 12px;
}	
/*******************************************************************************
* PRIMEFACES
*******************************************************************************/
/** primefaces border color */
.ui-widget-content, .ui-widget-header{
	border-color: #003448 !important;
}ll
.ui-panel .ui-panel-titlebar {
    padding: 0;
      height: 20px;
}
.ui-panel-titlebar .ui-widget-header .ui-corner-all{
	padding: 2px;
}
.ui-panel .ui-panel-title{
	margin: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: none;
	border: none;
	margin-top: 0;
}
.ui-panel-titlebar-icon .ui-corner-all .ui-state-default .ui-state-hover{
	margin-top: 0 !important;
}

.ui-breadcrumb {
	background: none !important;
	border: none !important;
}

.ui-button, .ui-dialog .ui-dialog-buttonpane button {
	border: medium none;
    background-color: #4B4B4B;
    background-image: url("#{resource['primefaces-bluesky/images/buttonBackground.png']}");
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #4B4B4B;
    border-width: 1px;
    color: #CCCCCC;
    font-family: Arial,Verdana,sans-serif;
    font-size: 10px;
    border-radius: 6px 6px 6px 6px;
}

.ui-dialog{
	border-radius: 6px 6px 6px 6px;
}
.ui-dialog .ui-dialog-titlebar{
	 padding: 0 0 0 4px;
}


.ui-dialog-titlebar a,.ui-dialog-titlebar a:HOVER{
	background: none !important;
	background-image: none !important;
	border: none;
}
.ui-dialog .ui-dialog-titlebar-close{
	padding: 0 !important;
}
/*******************************************************************************
* RICHFACES
*******************************************************************************/
.rf-tab-hdr-tabline-vis{
	border-style: none;
	 background:none;
}

.rf-tab-hdr-act,.rf-tab-hdr{
	border-radius: 6px 6px 0px 0px;
	padding-top: 4px;
}


.rf-tab-hdr{
	background: url(#{resource['stylesheet/default/imgs/panelHeader-off.gif']})repeat-x;
}
.rf-tab-hdr-act{
	background-color: #00567A;
	background-image: none !important;
	color: #FFFFFF;
}
.rf-tab-hdr-brd {
	background-color:#00567A;
	border-color:#00567A;
}
.rf-tab-cnt{
	border-color:#003448;
	border-radius: 0px 0px 6px 6px;
}

.checkablesupport 	.ui-widget-header{
	border-radius: 0;
	padding: 0;
}
.checkablesupport 	.ui-widget-header h3{
	text-decoration: none;
}
.rf-ac-itm-lbl{
	color: #ffffff;
}
.rf-ac-itm-hdr {
	padding: 0;
	background: url(#{resource['stylesheet/default/imgs/panelHeader.gif']})repeat-x !important;
	border:none;
}
.rf-ac,.rf-ac-itm-cnt{
	border: none;
}

.rf-insp{
	border: none;
}
.rf-insp-btns{
	margin-left: -4px;	
}
.rf-insl-mn , .rf-insl-mx {
	border: none;
}